<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form method="post">
      <input type="text" name="name" value="<%= name %>" />
      <input type="submit" value="submit" />
    </form>
    <p>
      You look like a:
    </p>
    <img src="/monster/<%= name %>" alt="identicon" />
  </body>
</html>
